@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-beth-ellen: 'Beth Ellen', cursive;
  --font-bigshot-one: 'Bigshot One', cursive;
  --font-unna: 'Unna', serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-unna), Arial, Helvetica, sans-serif;
  margin: 0;
}

.font-beth {
  font-family: var(--font-beth);
}

.font-bigshot {
  font-family: var(--font-bigshot);
}
